@{
    ViewData["Title"] = "Home Page";

    var product = new Product() {Id=1,Name="kalem",Price=10,Stock=100 };
}

@section Css{
    
}

@section Scripts{
    
}
<div class="row">
    <div class="col-md-4">
        <partial name="~/PartialViews/_ProductListPartialView.cshtml" model="@ViewBag.productListPartialViewModel" />
    </div>
    <div class="col-md-4">

        @*Method 1
        @await Component.InvokeAsync("ProductList",new {type=1});*@

        @*Method 2*@
        <vc:product-list type="1"></vc:product-list>
    </div>
    <div class="col-md-4">
        <italic>Asp.Net Core</italic>
        <product-show product="@product"></product-show>

        <img src="images/car1.jpg" />

        <image-thumbnail image-src="images/car1.jpg"></image-thumbnail>
    </div>
</div>